body {
  margin: 0;
  background: #e0ebe8;
  height: 100vh;
  text-align: center;
}

p {
  text-align: center;
  color: #45b29a;
  padding: 1em 0;
  font-size: 180%;
  font-weight: 400;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/*************************** CLASS ************************/
.top {
  position: relative;
  height: 15vh;
  width: 100%;
}
.middle {
  position: relative; /*necessário para colocar a posição das imagens relativa*/
  height: 25vh;
  width: 100%;
}
.bottom {
  position: relative;
  height: 60vh;
  width: 100%;
}

/*************************** IDs ************************/

#avatar {
  display: inline-block;
  position: relative;
  right: 40%;
  top: 5%;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

#cloud_top {
  position: relative;
  left: 30%;
}

#cloud_bottom {
  position: relative;
  right: 30%;
}

#introduction {
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#land {
  width: 80%;
  background-color: #e0ebe8;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border: 0;
  padding: 0;
}
